body {
  margin: 0;
}

html {
  background: #6fc1fd;
}

.header {
  width: 100%;
  height: 225px;
  margin: auto;
  margin: 0;
  background: #6fc1fd;
  position: relative;
}

.icon {
  width: 100%;
  height: 33px;
  margin-top: 52px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

.plane {
  margin-left: 40px;
}

.menu {
  margin-left: 19px;
  margin-right: 28px;
}

@media (max-width: 600px) {
  .icon {
    height: 70px;
  }

  .plane {
    width: 95px;
    height: 95px;
  }

  .call {
    width: 55px;
    height: 55px;
  }

  .menu {
    width: 55px;
    height: 55px;
  }
}
